<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

        *{
            padding: 0;
            margin: 0;
            font-family: 'Roboto';
        }

        body, html {
            height: 100%;
            width: 100%;
        }

        body {
            background: #C264FE;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            margin-bottom: 40px;
            color: #fff;
        }

        img {
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>Essa página não existe!</h1>
    <img src="img/not-found.svg" alt=""></img>
</body>
</html>