<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatix</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header class="main-head">
        <nav>
            <h1 id="logo"><a href="/">Chatix.</a></h1>
            <ul class="nav-links">
                <li><a id="enter-link" href="/chat">Entrar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <header class="hero-head">
                <h2>Um chat aberto a todos</h2>
                <p>O chatix foi desenvolvido como forma de estudo, e agora está liberado como um projeto <br> open source para ajudar outras pessoas.</p>
                <a href="/chat">Entrar</a>
            </header>
            <img class="hero-purplecurve" src="img/Bottom-curve.svg" alt="">
        </section>
        <section id="about">
            <div class="about-head">
                <h2>Sobre</h2>
                <p>Desenvolvido por Rafael Pignataro</p>
                <ul>
                    <li><a href="https://github.com/rafapignataro"><img src="img/github.svg" alt="Link perfil github"></a></li>
                    <li><a href="https://www.linkedin.com/in/rafael-pignataro"><img src="img/linkedin.svg" alt="Link perfil linkedin"></a></li>
                </ul>
            </div>
            <div class="about-cards">
                <div class="card">
                    <a href="https://github.com/rafapignataro/chatix">
                        <div class="card-image-wrapper">
                            <img src="img/github-logo.svg" alt="">
                        </div>
                        <div class="card-text">
                            <p>Projeto disponível no github.</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://nodejs.org/en/">
                        <div class="card-image-wrapper">
                            <img src="img/nodejs.svg" alt="">
                        </div>
                        <div class="card-text">
                            <p>O backend do projeto foi desenvolvido com Node.js.</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://socket.io/">
                        <div class="card-image-wrapper">
                            <img src="img/socket-io.svg" alt="">
                        </div>
                        <div class="card-text">
                            <p>Por meio de websockets, o Chatix utiliza o Socket.io para realizar as mensagens em tempo real.</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <!-- <img id="cellphone-img" src="img/Cellphone.svg" alt="">
    <img id="up-img" src="img/Upper-Curve.svg" alt="">
    <img id="down-img" src="img/Bottom-curve.svg" alt=""> -->
</body>
</html>