@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

html {
    font-size: 62.5%;
    --primary-color: #AB4DE6;
    --gray-text: #525252;
    --header1: calc(2.5rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(1.2rem + 1vw);
    --card-text: calc(0.9rem + 1vw);
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: var(--header1);
}

li, 
button, 
label, 
input, 
p {
    font-size: var(--text);
}
h2 {
    font-size: var(--header2);
}
h3 {
    font-size: var(--header3);
}
h4,
h5 {
    font-size: var(--header4);
}
a {
    color: white;
    text-decoration: none;
}

/* Primary Header and Nav */

.main-head {
    background-color: var(--primary-color);
}

nav {
    width: 80%;
    min-height: 10vh;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

#logo {
    flex: 1 1 40rem;
}

.nav-links {
    flex: 1 1 40rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#enter-link {
    background: white;
    color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 3px;
}

/* Hero Section */

.hero {
    min-height: 70vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.hero-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 40rem;
    text-align: center;
}

.hero-head h2{
    padding: 2rem 0;
}

.hero-head p{
    color: rgb(70, 70, 70);
    margin-bottom: 5rem;
}

.hero-head a {
    background: var(--primary-color);
    color: white;
    padding: 2rem 8rem;
    border-radius: 3px;
    font-size: var(--text);
}

.hero-head a:hover {
    background: rgb(173, 101, 218);
}

.hero-purplecurve {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    display: none;
}

/* About Section */

#about {
    background: var(--primary-color);
    padding: 3rem;
}

.about-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.about-head p {
    padding: 2rem 0;
}

.about-head ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 8rem;
}

.about-head img{
    width: 25px;
    height: 25px;
}

.about-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5rem 0;
}

.card {
    background: white;
    border-radius: 10px;
    width: 30rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}

.card a {
    color: black;
}

.card-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-grow: 1;
}

.card-image-wrapper img{
    width: 15rem;
    height: 15rem;
}

.card-text {
    padding: 3rem;
    text-align: center;
    flex-grow: 2;
}

.card-text p{
    font-size: var(--text);
}



@media screen and (max-width: 900px) {
    .hero-head {
        text-align: center;
        margin-left: 0;
        padding: 0 2rem;
    }

    .card {
        margin: 2rem 0;
    }
}

@media screen and (min-width: 1500px){
    html {
        --header1: 3.5rem;
        --header2: 5rem;
        --header3: 4rem;
        --header4: 3rem;
        --text: 2.5rem;
        --big: 6rem;
        
    }
}